<div class="container-sidebar">
<div id="user-card " class="card card-default text-center box-default">
    <div class="card-body">
        <div class="avatar mx-auto" *ngIf="identity">
            <a [routerLink]="['/perfil', identity._id]">
                <img class="img-user" src="{{ url + 'get-image-user/' + identity.image}}" *ngIf="identity.image" />
                <img class="img-user" src="img/user.png" *ngIf="!identity.image" />
            </a>
        </div>
        <div class="user-name" *ngIf="identity">
            <p class="name-surname">
                <a href="#">
                    {{identity.name + ' ' + identity.surname}}
                </a>
            </p>
            <p class="username">
                {{'@' + identity.username}}
            </p>

        </div>

        <div class="user-stats" *ngIf="identity">
            <div class="stats row">
                <a [routerLink]="['/seguidos', identity._id, 1]" class="div-stats lefts col-md-4">
                    <p class="number-stats">{{stats.counters.following}} </p>
                    <p class="text-stats">
                        Seguidos
                    </p>
                </a>
                <a href="" class="div-stats lefts col-md-4">

                    <p class="number-stats">{{stats.counters.followed}} </p>
                    <p class="text-stats">
                        Seguidores
                    </p>
                </a>

                <a href="" class="div-stats col-md-4">

                    <p class="number-stats">{{stats.counters.publications}}</p>
                    <p class="text-stats">
                        Publicaciones
                    </p>
                </a>

            </div>

        </div>



    </div>
</div>
<div class="publication card card-default text-center box-default mt-4 pb-2 pt-2 pr-2 pl-2">
    <div class="alert alert-success" *ngIf="status == 'success'">
        <p>Publicación enviada correctamente</p>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        <p>Error en la publicación</p>
    </div>
    <form #newPostForm="ngForm" action="" method="post" enctype="multipart/form-data" (ngSubmit)="onSubmit(newPostForm); sendPublication($event)">
        <div class="form-group">
            <textarea class="form-control post-area" name="text" [(ngModel)]="publication.text"
                placeholder="¿Qué estás pensando?"></textarea>
        </div>
        <div class="form-group
        ">
            <input type="file" class="form-control" name="image" (change)="fileChangeEvent($event)" />
        </div>
        <button type="submit" class="btn btn-primary">Publicar</button>
    </form>
</div>
</div>
