<div class="container-fluid pb-4">
    <div class="row">
      <div class="col-lg-9">
        <!-- Fila para título y botón -->
        <div class="row mb-3">
          <div class="col-lg-9">
            <h1 class="h1-strong">{{title}}</h1>
          </div>
          <div class="col-lg-3">
            <button class="btn btn-primary" (click)="refreshPublications($event)">
              Refrescar
              <i class="bi bi-arrow-repeat"></i>
            </button>
          </div>
        </div>
  
        <publications [receivedData]="messageFromSidebar"></publications>
      </div>
  
      <!-- Sidebar -->
      <div class="col-lg-3 mb-2">
        <sidebar (sended)="handleSidebarEvent($event)"></sidebar>
      </div>
    </div>
  </div>
  