<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <h1 class="h1-strong">{{title}}</h1>

            <div class="comunidad">

                <!-- Lista de usuarios -->
                <div *ngFor="let publication of publications" class="item-user">
                    <div class="card card-default">
                        <div class="card-body">
                            <!--PUBLICACION-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <sidebar></sidebar>
        </div>
    </div>
</div>