<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <h1 class="h1-strong">{{title}}</h1>

            <div class="comunidad">

                <!-- Lista de usuarios -->
                <div *ngFor="let publication of publications" class="item-user">
                    <div class="card card-default">
                        <div class="card-body d-flex flex-column">
                            <!-- Datos del usuario -->
                            <div class="user-data d-flex">
                                <div class="avatar mr-4">
                                    <a href="#">
                                        <img class="img-user"
                                            src="{{ url + 'get-image-user/' + publication.user.image}}"
                                            *ngIf="publication.user.image" />
                                        <img class="img-user" src="img/user.png" *ngIf="!publication.user.image" />
                                    </a>
                                </div>
                                <div class="user-name d-flex">
                                    <p class="name-surname mr-2">
                                        <a href="#">{{publication.user.name + ' ' + publication.user.surname}}</a>
                                    </p>
                                    <p class="username">
                                        {{'@' + publication.user.username}}
                                    </p>
                                </div>
                            </div>
                        
                            <!-- Contenedor para el texto y la imagen de la publicación -->
                            <div class="publication-content mt-3">
                                <div class="publication-text">
                                    <p>{{publication.text}}</p>
                                </div>
                                <div class="publication-image">
                                    <img src="{{ url + 'get-image-publication/' + publication.image }}"
                                        *ngIf="publication.image" />
                                </div>
                            </div>
                        
                            <!-- Botones de interacción -->
                            <div class="publication-likes mt-2">
                                <a href="#" class="btn btn-sm btn-primary">Me gusta</a>
                                <a href="#" class="btn btn-sm btn-primary">Comentar</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <sidebar></sidebar>
        </div>
    </div>
</div>