<div class="col-lg-4 mb-3">
    <h3>{{title}}</h3>
    <div class="sidebar-admin">
        <ul class="nav flex-column">
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['nuevo']">
                    Enviar mensaje
                </a>
            </li>
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['recibidos']">
                    Mensajes recibidos
                </a>
            </li>
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['enviados']">
                    Mensajes enviados
                </a>
            </li>
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['/home']">
                    Información
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-lg-8">
    <router-outlet></router-outlet>
</div>